<html>
<head>
  <title>Opening and Closing Times</title>
</head>
  <body>
    {% if info.total_brevets != 0 %}
      {% for brevet in brevets %}
      <h1> {{ brevet.distance }}km APC Brevet </h1>
      <h2> Start: {{ brevet.start_date_time }}</h2>
      <table class="brevet_table">
      <th>Checkpoint</th>
      <th>Open</th>
      <th>Close</th>
        {% for controle in brevet.controle %}
          <tr class="control">
            <td> {{ controle.location }}km</td>
            <td> {{ controle.open }} </td>
            <td> {{ controle.close }} </td>
          </tr>
        {% endfor %}
      </table>
      {% endfor %}
    {% else %}
      <h1> No items were submitted </h1>
    {% endif %}
  </body>
</html>
